<!DOCTYPE html>
<html>
<head>
    <link href="style.css" type="text/css" rel="stylesheet">
    <title>Petition</title>
</head>
    <body>
        {{>nav}}
        <h1 class="title">Make SPICED hoodies light grey again!</h1>
        <div>{{{body}}}</div>
    </body>
</html>
