<!DOCTYPE html>
<html>
<head>
    <link href="style.css" type="text/css" rel="stylesheet">
    <title>Petition</title>
</head>
    <body>
        {{>nav}}
<<<<<<< HEAD
        <h1 class="title">Make SPICED hoodies light grey again!</h1>
=======
>>>>>>> bb03adac58627f2e3b20288079e7d4363649612e
        <div>{{{body}}}</div>
    </body>
</html>
