<!DOCTYPE html>
<html>
<head>
    <link href="/style.css" type="text/css" rel="stylesheet">
    <title>{{cause}}</title>
</head>
    <body>
        {{>nav}}
        {{#if error}}
            <h4 style="color: red">Something went wrong: {{msg}}<h4>

        {{/if}}
        {{{body}}}
    </body>
</html>
<script src="/roulette.js"></script>
