<!DOCTYPE html>
<html>
<head>
    <link href="style.css" type="text/css" rel="stylesheet">
    <title>Petition</title>
</head>
    <body>
        {{>nav}}
        {{>cause}}
        <div>{{{body}}}</div>
    </body>
</html>
