<div>
    <h2>Sign Here</h2>
    <form>
        <div>
            <input type="text" name="first name" placeholder="first name">
            <input type="text" name="lastname" placeholder="lastname">
            <input id="sigInput" name="signature" placeholder="signature">
        </div>
        <input type="submit">
    </form>
    <canvas id="sigCanvas">
    </canvas>
    <button>Clear Canvas</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
<script src="canvas.js"></script>
