<div>
    <h2>Sign Here</h2>
<<<<<<< HEAD
    <form>
        <div>
            <input type="text" name="first name" placeholder="first name">
            <input type="text" name="lastname" placeholder="lastname">
            <input id="sigInput" name="signature" placeholder="signature">
        </div>
        <input type="submit">
    </form>
    <canvas id="sigCanvas">
    </canvas>
    <button>Clear Canvas</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
<script src="canvas.js"></script>
=======
    <form method="POST" id="petitionForm">
        <div>
            <input type="text" name="firstName" placeholder="first name">
            <input type="text" name="lastName" placeholder="last name">
            <input type="email" name="email" placeholder="E-mail">
            <input id="sigInput" name="signature" placeholder="signature">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </div>
        <input type="formSubmit" value>
    </form>
</div>
>>>>>>> bb03adac58627f2e3b20288079e7d4363649612e
