<h2>Let people know that you support: {{>cause}}</h2>
<form method="POST">
  <input type="text" name="age" placeholder="age">
  <input type="text" name="city" placeholder="city/town">
  <input type="text" name="homepage" placeholder="homepage or social media">
  <input type="hidden" name="_csrf" value="{{csrfToken}}"
  <input  id="formButton" type="submit" name="submit" value="continue">
</form>
