<div id="register">
  <form method="POST" id="registerForm">
      <div>
          <h1>Create an account to Sign the petition!</h2>
          <input type="text" name="firstName" placeholder="first name"  >
          <input type="text" name="lastName" placeholder="last name"  >
          <input type="email" name="email" placeholder="E-mail"  >
          <input type="password" name="password" placeholder="password"  >
          <input id="sigInput" type="hidden" name="sigInput">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
      </div>
      <input id="submitForm" value="Sign Up and Sign!" type="submit">
  </form>
  <button id="clearButton">Clear Signature</button>
  <h2>Already got an account? <a href="/login">Click here</a></h2>
</div>
