<h1>Thank you {{firstName}}!<br><br> For joining the fight against:</h1> <p id="cause"> {{cause}} </p>
<h1><a href="/signatures">See all {{amount}} signatures</a></h1>
{{>signatures}}

<h1>Want to change your signature?<a href="/profile/signature">click here</a></h1>
