body {
    text-align: center;
    background-color: lightgrey;
    margin: 0;
    font-family: sans-serif;
}

#navbar {
    display: flex;
    background-color: white;
    width: 100%;
    margin-bottom: 10px;
}

#supporters {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.supporter {
    padding: 20px;
    border: 1px black solid;
    min-width: 200px;
    min-height: 200px;
    margin: 10px;
    border-radius: 20px;
}

.navItem {
    padding: 10px;
}

#signHere {
    margin: 0 auto;
}

#signHere input {
    border-radius: 20px;
    padding: 20px;
}

#signHere button {
    border-radius: 20px;
    padding: 20px;
}

#sigInput {
    visibility: hidden;
    border-radius: 5px;
}
/*SPICED: light purple, yellowy orange, red, rebeccapurple */
#sigCanvas {
    margin: 20px;
    border: 1px black dotted;
    width: 400px;
    height: 100px;
    background-color: white;
}

#registerForm {
    padding: 20px;
    position: relative;
    border-radius: 20px;
    background-color: white;
}

.signature {
    margin: 20px auto;
    max-height: 200px;
    border: 1px black solid;
    border-radius: 65px;
    background-color: white;
}

input {
    display: block;
    margin: 15px auto;
}
