body {
    text-align: center;
    background-image: linear-gradient(#11111111, #101010);
    margin: none;
    font-family: sans-serif;
}

#sigInput {
    visibility: hidden;
}
/*SPICED: light purple, yellowy orange, red, rebeccapurple */
#sigCanvas {
    margin: 20px;
    border: 1px black dotted;
    width: 400px;
    height: 100px;
}
